<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

</head>
<body>
<div id="app"></div>

</body>
<script src="https://unpkg.com/react@17/umd/react.development.js" crossorigin></script>
<script src="https://unpkg.com/react-dom@17/umd/react-dom.development.js" crossorigin></script>

<script>
//ReactDOM.render(<p>Max</p>, document.QuerySelector('#app'));
//const element = React.createElement('p', null, 'Max');

const element = React.createElement('p', null, 'Max');
ReactDOM.render(element, document.querySelector('#app'));
</script>

</html>