<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

</head>

<html>
    <body>

        <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
        <script src="https://unpkg.com/babel-standalone@6/babel.min.js"></script>

        <script crossorigin src="https://unpkg.com/react@17/umd/react.development.js"></script>
        <script crossorigin src="https://unpkg.com/react-dom@17/umd/react-dom.development.js"></script>


        <div id="mydiv"></div>

        <script type="text/babel">
            class Hello extends React.Component {
                state = {
                    topics: []
                }

                componentDidMount() {
                    axios.get(`/all`)
                        .then(res => {
                            const topics = res.data;
                            this.setState({ topics });
                        })
                }

                render() {
                    return (
                        <ul>
                            { this.state.topics.map(topic =>
                            <li>
                                {topic.title}
                                {topic.description}
                            </li>)}
                        </ul>
                    )
                }
            }
            
            ReactDOM.render(<Hello />, document.getElementById('mydiv'));

        </script>
    </body>
</html>